.title__box{
    font-weight: bold;
    font-size: 1.5rem;
}
.cart__box{
    padding-top: 3rem;
}
.cart__footer{
    display: grid;
    grid-template-columns: 2fr .1fr;
}
.icon__box{
    display: grid;
    align-items: center;
    grid-template-columns: .01fr .35fr 1.1fr;
}
.continue{
    color: lightskyblue;
}
.total{
    align-items: center;
    display: grid;
    justify-content: end;
    grid-template-columns: .1fr .1fr;
    &-title{
        font-size: .8rem;
        font-weight: bold;
        color: lightslategray;

    }
    &-amount{
        font-weight: bold;
        font-size: 1.2rem;

    }
}