.item_container{
    height: 10rem;
    display: grid;
    padding-left: 3rem;
    padding-right: 3rem;
    grid-template-columns: .3fr  .5fr .5fr .4fr .3fr;
    padding-bottom: .7rem;
}

.img__box{
    padding-right: .5rem;
}
.image{
    height: 9rem;
    width: 8rem;
}

.name__box{
    padding-top: 4rem;
    display: grid;
    padding-left: 2rem;
    
    justify-content: start;
    align-items: center;
    grid-template-rows: .1fr .1fr;
    text-transform: uppercase;
    font-weight: bold;

    &-name{
        font-size: .9rem;
    }
    &-serial{
        color: lightgray;
        font-size: .6rem;
    }
}
.addremove__box{
    display: grid;
    justify-content: start;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: .06fr .1fr .1fr ;
}
.input__box{
    // size: "4";

}
.price__box{
    display: grid;
    align-items: center;
    font-weight: bold;

}
.button__box{
    display: grid;
    align-items: center;
}